version: 2.1
orbs:
    cloudsmith: cloudsmith/cloudsmith@1.0.1
jobs:
    build:
        docker:
            - image: fedora:33
        resource_class: large
        working_directory: ~/build
        steps:
            - checkout
            - run: "sudo dnf -y -v groupinstall 'Development Tools'"
            - run: 'sudo dnf -y -v install fedpkg fedora-packager rpmdevtools ncurses-devel'
            - run: 'sudo dnf -y -v install cmake clang gcc-c++ wget git pesign grubby'
            - run: 'sudo dnf -y -v install openssl-devel bc nano patch mosquitto sparse'
            - run: 'sudo dnf -y -v install flawfinder elfutils-libelf-devel'
            - run: 'sudo dnf -y -v install bison flex'
            - run: 'sudo dnf -y -v install uthash-devel'
            - run: 'sudo dnf -y -v install inih-devel'
            - run: 'sudo dnf -y -v install paho-c-devel'
            - run: 'sudo dnf -y -v install uncrustify'
            - run: 'sudo dnf -y -v install rpm-build redhat-rpm-config'
            - run: 'sudo dnf -y -v install coccinelle'
            - run: 'sudo dnf -y -v install automake'
            - run: 'sudo dnf -y -v install alien'
            - run: 'sudo dnf -y -v install dwarves'
            - run: 'sudo dnf -y -v install llvm bpftool libbpf libbpf-devel elfutils-libelf'
            - run: 'sudo dnf -y -v install libcap'
            - run: 'sudo dnf -y -v install openssl'
            - run: 'sudo dnf -y -v install rsync'
            - run: 'sudo dnf -y -v install ruby'
            - run: 'make circle'
            - run: 'make all_rpm'
            - persist_to_workspace:
                root: ~/build
                paths:
                    - output
    publish:
        executor: cloudsmith/default
        working_directory: ~/build
        steps:
            - checkout
            - attach_workspace:
                at: ~/build
            - cloudsmith/ensure-api-key
            - cloudsmith/install-cli
            - run: 'cd ./output && ls'
            - cloudsmith/publish:
                allow-republish: true
                cloudsmith-repository: camflow/camflow
                package-path: output/camconfd-*.rpm
                package-format: rpm
                package-distribution: fedora/33
            - cloudsmith/publish:
                allow-republish: true
                cloudsmith-repository: camflow/camflow
                package-path: output/camflowd-*.rpm
                package-format: rpm
                package-distribution: fedora/33
            - cloudsmith/publish:
                allow-republish: true
                cloudsmith-repository: camflow/camflow
                package-path: output/libprovenance-*.rpm
                package-format: rpm
                package-distribution: fedora/33
            - cloudsmith/publish:
                allow-republish: true
                cloudsmith-repository: camflow/camflow
                package-path: output/camflow-cli-*.rpm
                package-format: rpm
                package-distribution: fedora/33
            - cloudsmith/publish:
                allow-republish: true
                cloudsmith-repository: camflow/camflow
                package-path: output/camflow-0*.rpm
                package-format: rpm
                package-distribution: fedora/33
workflows:
  version: 2
  build-and-deploy:
      jobs:
          - build
          - publish:
          filters:
              branches:
                  only:
                      - master
              requires:
                  - build
